@model Forum.Models.Answer

<hr />

@using (Html.BeginForm("Index", "Answer", new { id = ViewContext.RouteData.Values["id"], Area = "Forum" }, FormMethod.Post, new { @class = "btn" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, new { rows = "4", cols = "110" })
        </div>
        <div>
            <input type="submit" class="btn btn-default" value="Publish" />
            <a onclick="clearContent(answer)" class="btn btn-default">Cancel</a>
        </div>
    </div>
}
