@model IEnumerable<Forum.Web.Areas.Users.Models.ThreadActivityViewModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Thread</th>
                <th>Content</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thread in Model)
            {
                <tr>
                    <td>@Html.ActionLink(thread.Title, "Index", "Thread", new { id = thread.Id, title = thread.Title, Area = "Forum" }, null)</td>
                    <td>@thread.Content</td>
                    <td>@thread.Published</td>
                </tr>
            }
        </tbody>
    </table>
</div>
