
<div class="jumbotron">
    <h1>Welcome to Heat Discussion</h1>
    <p>A must join discussion forum for every blogger. Here you can get lots of information about various popular topics.</p>
</div>

@Html.Action("IndexThreads")