@model Forum.Web.Models.Common.PagingViewModel

@if (Model.PagesCount > 1)
{
    <center>
        <nav>
            <div class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    @Html.RouteLink("Prev", new { query = Request.QueryString["query"], page = Model.CurrentPage - 1 }, new { @class = "btn btn-default" })
                }
                @for (var i = (Model.CurrentPage - 3 >= 1 ? Model.CurrentPage - 3 : 1); i <= (Model.CurrentPage + 3 <= Model.PagesCount ? Model.CurrentPage + 3 : Model.PagesCount); i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        @Html.RouteLink($"{i}", new { query = Request.QueryString["query"], page = i }, new { @class = "btn btn-default disabled" })
                    }
                    else
                    {
                        @Html.RouteLink($"{i}", new { query = Request.QueryString["query"], page = i }, new { @class = "btn btn-default" })
                    }
                }
                @if (Model.CurrentPage < Model.PagesCount)
                {
                    @Html.RouteLink("Next", new { query = Request.QueryString["query"], page = Model.CurrentPage + 1 }, new { @class = "btn btn-default" })
                }
            </div>
        </nav>
    </center>
}
