@model IEnumerable<Forum.Models.Thread>

<div class="panel panel-default">
    <div class="panel-heading">Threads</div>
    <div class="panel-body">
        @foreach (var thread in Model)
            {
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink(thread.Title, "Threads", new { id = thread.Id })</h4>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> @string.Format("{0:dd MMMM yyyy H:mm}", thread.Published)</span></li>
                        <li>|</li>
                        <li><span><i class="glyphicon glyphicon-user"></i> @thread.User.Name</span></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
